/data/

/question2answer/*
!/question2answer/zhihu
!/question2answer/qa-plugin
/question2answer/qa-plugin/*
!/question2answer/qa-plugin/monero*

*.log
/vendor/

/fetch.sql
/fetch.zip
/lib/cookie.txt
/script/coll*.html
.env